@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color:#FAD8C9
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #FB7539;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #FB7539;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/* Task Preview */
.task-preview {
    padding:10px 16px;
    margin:20px 0;
    border-bottom:1px solid #825151;
}

.task-preview:hover {
    box-shadow: 1px 3px 5px rgba(240, 43, 43, 0.1);
}

.task-preview h2 {
    font-size: 20px;
    color: #2b0ae4;
    margin-bottom:10px;
}

.task-preview p {
    font-size: 14px;
    font-weight: bold;
}

.task-preview a {
  text-decoration: none;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-size: 22px;
  font-weight: bold;
}
.create h2 {
  font-size: 28px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(233, 82, 12);
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
